.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 24px;
  min-height: 100vh;
  background: #155263;
  max-width: 500px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  .title {
    color: #ffcb05;
    font-size: 1.6rem;
    font-weight: 700;
  }
}
.header img{
  max-width: 80%;
}
.searchBox{
  position: relative;
  width: 100%;
  .search{
    border-radius: 90px;
    background: #FFF;
    border: 1px solid #FFF;
    padding: 16px 24px;
    color: #155263;
    font-size: 1.6rem;
    font-weight: 600;
    width: 100%;
    border: none;
    &::placeholder {
      color: #155263;
      font-weight: 400;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:active,
    &:focus,
    &:focus-visible {
      border: 1px solid #ffcb05;
      box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.10), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
      outline-width: 0;
    }
  }
  .searchButton{
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}


.pokemonList{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.pokemon {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  background: #0E4554;
  width: 100%;
}

.pokemonTitle{
  color: #FFF;
  font-size: 1.8rem;
  border-bottom: 1px solid #155263;
  line-height: normal;
  display: flex;
  padding-bottom: 4px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  .delete{
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.pokemonDescription {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.pokemonDetails {
  display: flex;
  gap: 16px;
}

.pokemonImage {
  width: 40%;
  max-width: 100px;
  height: 100px;
}
.pokemonImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pokemonDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex: 1;
}
.label {
  min-width: 70px;
}
.pokemonDetailsRow {
  display: flex;
  gap: 8px;
  color: #fff;
  text-align: right;
  font-size: 1.2rem;
  font-weight: 400;
}

.pokemonValueBar {
  position: relative;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.20);
  height: 14px;
  width: 100%;
}

.pokemonValue {
  position: absolute;
  left: 4px;
  top: 1px;
  color: #0e4554;
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
}

.pokemonBar {
  border-radius: 10px;
  background: #ffcb05;
  height: 100%;
  width: 50%;
}

.button{
  border: 1px solid #FFCB05;
  border-radius: 60px;
  background: #FFCB05;
  color: #134F60;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 12px 24px;
  margin-top: 16px;
  cursor: pointer;
  &:hover,
    &:active,
    &:focus,
    &:focus-visible {
      border: 1px solid #FFCB05;
      background-color: #134F60;
      color: #FFCB05;
      box-shadow: 0px 8px 10px -6px rgba(0, 0, 0, 0.10), 0px 20px 25px -5px rgba(0, 0, 0, 0.10);
      outline-width: 0;
    }
}
/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}

@media (prefers-color-scheme: dark) {
 }
